
<html>
    <head>
      <title> Company E / Team 5 </title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="style.css">
    </head>
  <h1>
    Company E / Team 5
  </h1>
  <div id="btnform">
  <div id="btnbox">
  <p>
    This is our homepage.<br><br>
    When it comes to programming, we aren't the best at the moment,
    but we hope to improve, as there is always room to.<br><br>
    We work together pretty well, even if we aren't always on task.
  </p>
  <div id="txt"></div>
</div>
</div>
  <form class="buttonForm" action="/about">
    <input type="submit" value="About us" />
  </form>
  <form class="buttonForm" action="/feedback">
    <input type="submit" value="Give Feedback" />
  </form>

</html>
